@use '../abstract/variables';
@use '../abstract/variables2' as v2;

.rightcolumn {
    background: lime;
    width: 200px;
    height: 100%;
}

@media screen and (max-width: v2.$bp-mobile) {
    
    .rightcolumn {
        width: 100%;
        height: 50%;
        background-color: yellow;
    }
}


@media screen and (max-width: variables.$bp-mobile) {
    
    .rightcolumn {
        width: 100%;
        height: 50%;
        background-color: pink;
    }
}
